.text-center{
  text-align: center;
}

.zones-demo {
  width: 400px;
  height: 400px;
  margin: 20px auto;
}

.text-heading{
  padding: 10px;
  text-align: center;
}

.zones-demo .box-inner{
  width: 250px;
  height: 250px;
  margin: 20px auto;
  background: #eee;
  position: relative;
  border-radius: 4px;
}
